:root{
	--primary: #000;
}
.blackCard{
	color: var(--primary);
	background: url('../fotos/Soul_MinD_Preto_Topo.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
.enjoyFeatures{
	background: url('../fotos/Soul_MinD_Preto_aproveite.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
.enjoyFeatures button{
	color: var(--primary);
	border: solid .070em var(--primary);
}
.enjoyFeatures button:hover{
	background: var(--primary);
	color: #FFF;
}
.upgrade{
	background: url('../fotos/Soul_MinD_Rosa_Topo.jpg') no-repeat;
	background-size: cover;
	background-position: 100% 40%;
	width: 100%;
	height: 50vh;
	color: #FFF;
}
.upgrade .upgradeText{
	display: flex;
	flex-direction: column;
	margin-left: 9rem;
	padding-top: 5rem;
}
.upgrade .description{
	margin-top: 3rem;
	width: 29rem;
	font-size: 1.1rem;
}
.upgradeText-mobile{
	display: none;
}
@media screen and (max-width: 831px) and (orientation : portrait){
	.blackCard {
	    padding: 0rem 1rem;
	    background: url('../fotos/Soul_MinD_Preto_Topo_mobile.jpg') no-repeat !important;
	    background-size: cover;
	    text-align: center;
	    height: 100%;
	    color: #000 !important;
	}
	.enjoyFeatures {
		position: relative;
	    background: url('../fotos/Soul_MinD_Rosa_aproveite_mobile.jpg') no-repeat;
	    background-position: center;
	    width: 100%;
	    height: 314px;
	    padding: 0;
	    margin-top: 258px;
	}
	.upgrade{
	    position: relative;
	    background: url(../fotos/Soul_MinD_Rosa_upgrade_mobile.jpg) no-repeat;
	    background-position: center;
	    width: 100%;
	    height: 300px;
	    padding: 0;
	}
	.upgrade .upgradeText{
		display: none;
	}
	.upgradeText-mobile{
		display: block;
		background-color: rgb(233, 66, 115);
		padding: 0.9rem;
		text-align: center;
		width: 100%;
		color: #FFF;
	}
	.upgradeText > p{
		margin-top: 1rem;
	}
}