:root{
	--primary: #000;
}
@font-face{
	font-family: Helvetica;
	src:  url('../fonts/Helvetica.ttc') format('truetype');
	font-display: swap;
}
@font-face{
	font-family: HelveLTMM;
	src:  url('../fonts/HelveLTMM');
	font-display: swap;
}
@font-face{
	font-family: Didot;
	src:  url('../fonts/Didot.ttc') format('truetype');
	font-display: swap;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.50rem;
	font-family: 'Helvetica';
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin-bottom:.5rem;
	font-family:inherit;
	font-weight:500;
	line-height:1.2;
	color:inherit;
}
h2{
	font-family: 'HelveLTMM';
	font-weight: 400;
	font-size: 2.5rem;
}
h3{
	font-family: 'HelveLTMM';
	font-weight: 400;
	font-size: 2.2rem;
}
.center{
	text-align: center;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.col{
	position: relative;
	width: 100%;
	min-height: 1px;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}
.bolder{
	font-weight: 600 !important;
}
.blackCard-top{
	color: #000;
	/*padding: 8vw 12vw;*/
	background: url('../fotos/Soul_MinD_Preto_Topo.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 80vh;
}
.top-wrapper{
	transform: translate(8vw, 12vh);
}
.blackCard-top .logo{
	position: relative;
	border-right: .35em solid #000;
	border-bottom: .35em solid #000;
	border-left: .35em solid #000;
	display: inline-block;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 0px 5px;
	margin-bottom: 3.438rem;
}
.blackCard-top .logo .borderTopRight{
	position: absolute;
    width: 2.35em;
    height: 2.15em;
    top: -0.65em;
    right: -0.35em;
    border-top: .35em solid #000;
    border-right: .35em solid #000;
    border-top-right-radius: 0.75rem;
}
.blackCard-top .logo .borderTopLeft{
	position: absolute;
	width: .85em;
	height: 2.15em;
	top: -0.65em;
	left: -0.35em;
	border-top: .35em solid #000;
	border-left: .35em solid #000;
	border-top-left-radius: 0.75rem;
}
.blackCard-top .logo span{
	font-size: 1.75rem;
	font-family: 'Didot';
	position: absolute;
	top: -0.95em;
	margin-left: .30em;
	line-height: initial;
}
.blackCard-top .logo p{
	font-size: 3.25rem;
	font-family: 'Helvetica';
	line-height: initial;
}
.blackCard-top .title{
	margin-bottom: 3.438rem;
}
.blackCard-top .title p{
	font-size: 1.25rem;
}
.blackCard-top .description{
	font-weight: 400;
	font-size: 1.15em;
}
.perks{
	padding: 3.125rem 0;
}
.perks .container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 1;
	align-content: center;
	justify-content: center;
	padding: 3.75rem 13.25rem;
}
.perks .container div.item{
	flex-basis: 33%;
	text-align: center;
	margin: 30px 0;
}
.perks .container div.item p{
	max-width: 15.625rem;
	margin: 1.2rem auto 0 auto;
}
.perks .container div.item img{
	max-width: 100%;
	width: 8.375rem;
	display: block;
	margin: 0 auto;
}
.enjoyFeatures{
	background: url('../fotos/Soul_MinD_Preto_aproveite.jpg') no-repeat;
	background-position: center;
	width: 100%;
	height: 60vh;
	padding: 13.75rem 13.25rem;
}
.enjoyFeatures p{
	font-family: 'Didot';
	color: var(--primary);
	font-size: 2.75rem;
	padding: 6px;
	margin-top: .80rem;
	line-height: 2.4rem;
}
.enjoyFeatures button{
	font-size: 1.3em;
	margin-top: 3.75rem;
	padding: 1.2em 4.5em;
	background: transparent;
	color: var(--primary);
	border: solid .070em var(--primary);
	transition: all .5s ease;
}
.enjoyFeatures button span::after{
	content: '\00bb';
	position: absolute;
	font-size: 1.15	em;
	right: -20px;
	display: none;
}
.enjoyFeatures button:hover{
	background: var(--primary);
	color: #FFF;
}
.enjoyFeatures button:hover span::after{
	position: relative;
	display: inline;
}
.upgrade{
	background: url('../fotos/Soul_MinD_Rosa_Topo.jpg') no-repeat;
	background-size: cover;
	background-position: 100% 40%;
	width: 100%;
	height: 50vh;
	color: #FFF;
	padding: 5rem 10rem;
}
.upgrade .description{
	margin-top: 3rem;
	width: 29rem;
}
footer .support-wrapper .support-guide .changeView,
footer .aboutUs-wrapper .aboutUs-guide .changeView{
	display: none;
}
footer .notice{
	position: absolute;
    bottom: 0;
}
footer{
	padding: 3.75rem 13.25rem;
}
footer h2{
	font-size: 1.875rem;
}
footer .social-wrapper,
footer .support-wrapper,
footer .aboutUs-wrapper,
footer .security-wrapper{
	margin-top: 2.3rem;
}
footer .social-wrapper h2{
	display: inline-block;
	margin-right: 2.75rem;
}
footer .social{
	display: inline-block;
}
footer .social img{
	width: 35px;
}
footer .support-wrapper a,
footer .aboutUs-wrapper a{
	text-decoration: none;
	color: inherit;
	transition: all .3s ease;
}
footer .support-wrapper a:hover,
footer .aboutUs-wrapper a:hover{
	color: var(--primary);
	font-weight: 600;
}
footer .payment-wrapper .container,
footer .security-wrapper .container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 1;
	align-content: center;
	justify-content: flex-start;
}
footer .payment-wrapper .container .item,
footer .security-wrapper .container .item{
	flex-basis: 20%;
	margin: 0 .75rem;
}
footer .payment-wrapper .container .item img{
	height: 60px;
	max-width: 100px;
}
footer .security-wrapper .container .item:nth-child(1) img{;
	width: 150px;
	height: 59.77px;
}
footer .security-wrapper .container .item:nth-child(2) img{
	width: 60px;
	height: 62.17px;
}
.finalFooter{
	background-color: #000;
	color: #FFF;
	padding: 2rem 3rem;
}
.upgradeText-mobile{
	display: none;
}
@media screen and (max-width: 831px) and (orientation : portrait){
	.blackCard-top {
	    padding: 3.75rem 1rem 0 1rem;
	    background: url('../fotos/Soul_MinD_Preto_Topo_mobile.jpg') no-repeat !important;
	    background-size: cover;
	    text-align: center;
	    height: 100%;
	    color: #FFF !important;
	}
	.top-wrapper{
		transform: translate(0, 0);
	}
	.blackCard-top .logo,
	.blackCard-top .logo .borderTopLeft,
	.blackCard-top .logo .borderTopRight{
	    border-color: #FFF;
	}
	.blackCard-top .logo{
		margin-bottom: 1rem;
	}
	.blackCard-top .logo span {
    	margin-left: -3.4rem;
	}
	h2 {
	    font-size: 2rem;
	}
	h3{
		font-size: 1.8rem;
	}
	.blackCard-top .description {
	    font-size: 0.73em;
	    margin-top: 15rem;
	    padding-bottom: 1rem;
	    display: block;
	}
	.perks .container{
		padding: 0;
	}
	.perks .container div.item{
		flex-basis: 100%;
	}
	.enjoyFeatures {
		position: relative;
	    background: url('../fotos/Soul_MinD_Rosa_aproveite_mobile.jpg') no-repeat;
	    background-position: center;
	    width: 100%;
	    height: 314px;
	    padding: 0;
	    margin-top: 258px;
	}
	.enjoyFeatures .enjoyText{
		position: absolute;
		margin-top: -19rem;
		text-align: center;
		width: 100%;
	}
	.enjoyFeatures p {
	    font-size: 1.5rem;
		margin-top: 0;
	}
	.enjoyFeatures button {
	    margin-top: 3.75rem;
	    font-size: 1rem;
	}
	.support-wrapper .support-guide h2,
	.support-wrapper .support-guide div,
	.aboutUs-wrapper .aboutUs-guide h2,
	.aboutUs-wrapper .aboutUs-guide div{
		display: inline-block;
	}
	.support-wrapper .support-guide img,
	.aboutUs-wrapper .aboutUs-guide img{
		float: right;
	}
	.support-wrapper .support-guide .support-view,
	.aboutUs-wrapper .aboutUs-guide .aboutUs-view{
		display: none;
	}
	.support-wrapper .support-guide .changeView,
	.aboutUs-wrapper .aboutUs-guide .changeView{
		display: block !important;
	}
	.support-wrapper .support-guide #support-extended:checked + .support-view,
	.aboutUs-wrapper .aboutUs-guide #aboutUs-extended:checked + .aboutUs-view{
		display: block;
	}
	.upgrade{
	    position: relative;
	    background: url(../fotos/Soul_MinD_Rosa_upgrade_mobile.jpg) no-repeat;
	    background-position: center;
	    width: 100%;
	    height: 300px;
	    padding: 0;
	}
	.upgrade .upgradeText{
		display: none;
	}
	.upgradeText-mobile{
		background-color: rgb(233, 66, 115);
		padding: 0.9rem;
		text-align: center;
		width: 100%;
		color: #FFF;
	}
	.upgradeText > p{
		margin-top: 1rem;
	}
	footer .payment-wrapper .container .item{
		flex-basis: 30%;
	    margin: 0 0.3rem;
	}
	footer .payment-wrapper .container .item img {
	    max-width: 80px;
	    height: 50px;
	}
	footer .security-wrapper {
	    margin-bottom: 5rem;
	}
	footer .payment-wrapper .container{
    	justify-content: center;
	}
	footer .payment-wrapper{
	    margin-top: 2.3rem;
	}
	footer {
	    padding: 1.8rem;
	}
	footer h2 {
	    font-size: 1.5rem;
	}
	footer .social{
		float: right;
	}
}