:root{
	--primary: #E94273;
}
@font-face{
	font-family: Helvetica;
	font-weight: normal;
	font-display: swap;
	src:  url('../fonts/Helvetica.ttc') format('truetype');
}
@font-face{
	font-family: HelveLTMM;
	font-weight: normal;
	font-display: swap;
	src:  url('../fonts/HelveLTMM');
}
@font-face{
	font-family: Didot;
	font-weight: normal;
	font-display: swap;
	src:  url('../fonts/Didot.ttc') format('truetype');
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.438rem;
	font-family: 'Helvetica';
}
body{
    overflow-x: hidden;
    /*Workaround to font-weight not displaying correctly on Mac*/
    -webkit-font-smoothing: subpixel-antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin-bottom:.5rem;
	font-family:inherit;
	font-weight:500;
	line-height:1.2;
	color:inherit;
}
h2{
	font-family: 'Didot';
	font-weight: 400;
	font-size: 2.5rem;
}
.bold, strong{
	font-weight: 600;
}
.center{
	text-align: center;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.col{
	position: relative;
	width: 100%;
	min-height: 1px;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}
.pinkCard{
	color: #FFF;
	background: url('../fotos/Soul_MinD_Rosa_Topo.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 70vh;
}
.top-wrapper{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	margin-left: 9.375rem;
	height: 100%;
}
.card-top .logo img{
	width: 9.688em;
	height: 5.938em;
}
.card-top .title{
	margin: 3.438rem 0;
	text-transform: uppercase;
}
.card-top .title p{
	font-size: 1.25rem;
}
.card-top .description{
	font-weight: 400;
	font-size: 1.15em;
	max-width: 30rem;
}
.perks{
	padding: 3.125rem 0 0 0;
}
.perks .container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 1;
	align-content: center;
	justify-content: center;
	padding: 1.75rem 13.25rem;
}
.perks .container div.item{
	flex-basis: 33%;
	text-align: center;
	margin: 30px 0;
	min-width: 15.25rem;
}
.perks .container div.item p{
	max-width: 15.625rem;
	margin: 1.2rem auto 0 auto;
	font-size: 1.27em;
}
.perks .container div.item img{
	max-width: 100%;
	width: 8.375rem;
	display: block;
	margin: 0 auto;
}
.comingsoon{
	font-family: Helvetica;
	text-transform: uppercase;
	background-color: var(--primary);
	display: block;
	font-size: small !important;
	color: #FFFFFF;
	padding: .020rem;
}
.register{
	padding: 2rem 0 3.5rem 0;
	background-color: var(--primary);
}
.register p{
	font-family: 'Didot';
	color: #FFFFFF;
	font-size: 2.5rem;
	padding: 6px;
	margin:  0 auto;
	line-height: 3.5rem;
	font-weight: 600;
	max-width: 80vw;
}
.enjoyFeatures{
	background: url('../fotos/Soul_MinD_Rosa_aproveite.jpg') no-repeat;
	background-position: center;
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 8rem;
}
.enjoyFeatures .enjoyText{
	display: inline-block;
}
.enjoyFeatures p{
	font-family: 'Didot';
	color: var(--primary);
	font-size: 2.75rem;
	padding: 6px;
	line-height: 3.5rem;
	font-weight: 600;
	max-width: 35rem;
}
.enjoyFeatures a,
.register a{
	font-size: 1.3em;
	margin-top: 2.75rem;
	padding: 1.2em 3.5em;
	background: transparent;
	color: var(--primary);
	border: solid .070em var(--primary);
	transition: all .5s ease;
	text-decoration: none;
	display: inline-block;
}
.register a{
	padding: 1.2em 2.5em;
	margin: 0 1rem;
	border: solid .070em #FFFFFF;
	margin-top: 2rem;
	color: #FFFFFF;
}
.enjoyFeatures a span::after,
.register a span::after{
	content: '\00bb';
	position: absolute;
	font-size: 1.15	em;
	right: -20px;
	display: none;
}
.enjoyFeatures a:hover,
.register a:hover{
	background: var(--primary);
	color: #FFF;
}
.enjoyFeatures a:hover span::after,
.register a:hover span::after{
	position: relative;
	display: inline;
}
footer .support-wrapper .support-guide .changeView,
footer .aboutUs-wrapper .aboutUs-guide .changeView{
	display: none;
}
footer .notice{
	position: absolute;
    bottom: -2.5rem;
}
footer{
	padding: 3.75rem 13.25rem;
	gap: 2rem;
}
footer .col{
	min-width: 27.625rem;
}
footer h2{
	font-size: 1.875rem;
	font-weight: 600;
}
footer .social-wrapper,
footer .support-wrapper,
footer .aboutUs-wrapper,
footer .security-wrapper{
	margin-top: 2.3rem;
}
footer .social-wrapper h2{
	display: inline-block;
	margin-right: 2.75rem;
}
footer .social{
	display: inline-block;
}
footer .social img{
	width: 35px;
}
footer .support-wrapper a,
footer .aboutUs-wrapper a{
	text-decoration: none;
	color: inherit;
	transition: all .3s ease;
}
footer .support-wrapper a:hover,
footer .aboutUs-wrapper a:hover{
	color: #E94273;
}
footer .payment-wrapper .container,
footer .security-wrapper .container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 1;
	align-content: center;
	justify-content: flex-start;
}
footer .payment-wrapper .container .item,
footer .security-wrapper .container .item{
	flex-basis: 20%;
	margin: 0 .75rem;
}
footer .payment-wrapper .container .item img{
	height: 60px;
	max-width: 100px;
}
footer .security-wrapper .container .item:nth-child(1) img{;
	width: 150px;
	height: 59.77px;
}
footer .security-wrapper .container .item:nth-child(2) img{
	width: 60px;
	height: 62.17px;
}
.finalFooter{
	background-color: #000;
	color: #FFF;
	padding: 2rem 3rem;
}
@media screen and (min-width: 3000px){
	.perks .container div.item{
		flex-basis: auto;
		gap: 5rem;
	}
	.enjoyFeatures{
		background-position: top center;
		background-size: contain;
	}
}
@media screen and (max-width: 831px) and (orientation : portrait){
	.pinkCard {
	    background: url('../fotos/Soul_MinD_Rosa_Topo_mobile.jpg') no-repeat !important;
	    background-size: cover;
	    text-align: center;
	    height: 100%;
	}
	.top-wrapper{
		margin-left: 0;
	}
	.card-top .logo{
		margin-bottom: 1rem;
	}
	.card-top .logo span {
    	margin-left: -3.4rem;
	}
	h2 {
	    font-size: 2rem;
	}
	.card-top .description {
	    font-size: 1rem;
	    margin: 0rem .25rem;
	    padding-bottom: 1rem;
	    display: block;
	}
	.card-top .description p{
		line-height: 2rem;
	}
	.perks .container{
		padding: 0;
	}
	.perks .container div.item{
		flex-basis: 100%;
	}
	.register p{
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.enjoyFeatures {
		position: relative;
	    background: url('../fotos/Soul_MinD_Rosa_aproveite_mobile.jpg') no-repeat;
	    background-position: center;
	    width: 100%;
	    height: 335px;
	    padding: 0;
	    margin-top: 258px;
	    justify-content: flex-start;
	}
	.enjoyFeatures .enjoyText{
		position: absolute;
		margin-top: -15.5rem;
		text-align: center;
		width: 100%;
	}
	.enjoyFeatures p {
	    font-size: 1.5rem;
	    line-height: 2.4rem;
		margin-top: 0;
	}
	.enjoyFeatures button {
	    margin-top: 2.75rem;
	    font-size: 1rem;
	}
	.support-wrapper .support-guide h2,
	.support-wrapper .support-guide div,
	.aboutUs-wrapper .aboutUs-guide h2,
	.aboutUs-wrapper .aboutUs-guide div{
		display: inline-block;
	}
	.support-wrapper .support-guide img,
	.aboutUs-wrapper .aboutUs-guide img{
		float: right;
	}
	.support-wrapper .support-guide .support-view,
	.aboutUs-wrapper .aboutUs-guide .aboutUs-view{
		display: none;
	}
	.support-wrapper .support-guide .support-view p,
	.aboutUs-wrapper .aboutUs-guide .aboutUs-view p{
		line-height: 2rem;
	}
	.support-wrapper .support-guide .changeView,
	.aboutUs-wrapper .aboutUs-guide .changeView{
		display: block !important;
	}
	.support-wrapper .support-guide #support-extended:checked + .support-view,
	.aboutUs-wrapper .aboutUs-guide #aboutUs-extended:checked + .aboutUs-view{
		display: block;
	}
	.upgradeText-mobile h2{
		padding-bottom: 1rem;
	}
	.description p{
		padding: 2rem 0 1rem 0;
	}
	footer .payment-wrapper .container .item{
		flex-basis: 30%;
	    margin: 0 0.3rem;
	}
	footer .payment-wrapper .container .item img {
	    max-width: 80px;
	    height: 50px;
	}
	footer .security-wrapper {
	    margin-bottom: 5rem;
	}
	footer .payment-wrapper .container{
    	justify-content: center;
	}
	footer .payment-wrapper{
	    margin-top: 2.3rem;
	    white-space: nowrap;
	}
	footer {
	    padding: 1.8rem;
	    gap: 0;
	}
	footer .col{
		min-width: auto;
	}
	footer .notice{
		bottom: 0;
	}
	footer h2 {
	    font-size: 1.5rem;
	}
	footer .social{
		float: right;
	}
}